<div class="container">
  <div class='row'>
    <% 10.times do |index| %>
      <div class="col-md-3 col-sm-4 col-6 bg-succsess">
        <div class='product'>
          <div class='picture'>
            <img src="https://salt.tikicdn.com/cache/200x200/ts/product/eb/80/9a/c07eb67eb11ac85ca087e4cf02588382.jpg.webp">
          </div>
          <div class='title'>
            <p>Smart Tivi Samsung Full HD 43 inch UA43T6000</p>
          </div>
          <p>&#11088;&#11088;&#11088;&#11088;&#11088; | Da ban 285</p>
          <div class='price'>
            <p>$ 8.150.000</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
