
<div class="container">
<div class='row'>
  <div class="col-md-2 col-sm-4 col-6 bg-succsess"></div>
    <div class='product'>
      <div class='picture'>
        <img src="https://salt.tikicdn.com/cache/200x200/ts/product/eb/80/9a/c07eb67eb11ac85ca087e4cf02588382.jpg.webp">
      </div>
        <div class='title'>
        <p>Smart Tivi Samsung Full HD 43 inch UA43T6000</p>
      </div>
      <p>&#11088;&#11088;&#11088;&#11088;&#11088; | Da ban 285</p>
      <div class='price'>  
        <p>$ 8.150.000</p>
      </div>
    </div>


  <div class="col-md-2 col-sm-4 col-6 bg-succsess"></div>
    <div class='product'>
      <div class='picture'>
        <img src="https://salt.tikicdn.com/cache/280x280/media/catalog/producttmp/bf/16/33/24aa58143fefa22f27449c99817bafad.jpg.webp">
      </div>
      <div class='title'>
        <p>Android Tivi Sony 4K 55 inch</p>
      </div>
      <p>&#11088;&#11088;&#11088;&#11088;&#11088; | Da ban 184</p>
      <div class='price'>
        <p>$ 17.600.000</p>
      </div>
    </div>


  <div class="col-md-2 col-sm-4 col-6 bg-succsess"></div>
    <div class='product'>
      <div class='picture'>
        <img src="https://salt.tikicdn.com/cache/280x280/ts/product/d6/4c/b4/087f5f742de240aa97407474a2ca5188.png.webp">
      </div>
      <div class='title'>
        <p>Smart Tivi Oled The Frame Samsung 4k 50 inch QA50LS03A</p>
      </div>
      <p>&#11088;&#11088;&#11088;&#11088;&#11088; | Da ban 277</p>
      <div class='price'>
        <p>$ 14.190.000</p>
      </div>
    </div>





  <div class="col-md-2 col-sm-4 col-6 bg-succsess"></div>
    <div class='product'> 
      <div class='picture'>
        <img src="https://salt.tikicdn.com/cache/200x200/ts/product/85/e7/08/4497c6a22e6dd183c9ee73c3d902941d.jpg.webp">
      </div>
      <div cclass='title'>
        <p>Google Tivi Sony 2k 32 inch KD-32W830K - Model 2022</p>
      </div>
      <p>&#11088;&#11088;&#11088;&#11088;&#11088; | Da ban 27</p>
      <div class='price'>
        <p>$ 7.190.000</p>
      </div> 
    </div>


  <div class="col-md-2 col-sm-4 col-6 bg-succsess"></div>
    <div class='product'>
      <div class='picture'>
        <img src="https://salt.tikicdn.com/cache/200x200/ts/product/e1/8b/1d/69f6683b56623ec655ea5594618eecdf.jpg.webp">
      </div>
      <div class='title'>
        <p>Smart Tivi Samsung Full HD 43 inch UA43T6000</p>
      </div>
      <p>&#11088;&#11088;&#11088;&#11088;&#11088; | Da ban 285</p>
      <div class='price'>
        <p>$ 8.150.000</p>
      </div>
    </div>


  <div class="col-md-2 col-sm-4 col-6 bg-succsess"></div>
    <div class='product'>
      <div class='picture'>
        <img src="https://salt.tikicdn.com/cache/200x200/ts/product/ee/91/73/9b74354498138aecf37f12a415ed6f01.jpg.webp">
      </div>
      <div class='title'>
        <p>Smart Tivi Samsung Full HD 43 inch UA43T6000</p>
      </div>
      <p>&#11088;&#11088;&#11088;&#11088;&#11088; | Da ban 285</p>
      <div class='price'>
        <p>$ 8.150.000</p>
      </div>
    </div>
</div>
</div>

