

.product{
    border: 1px solid black;
    margin: 10px;
    height: 450px;
    max-width: 290px;
    padding: 10px;
}
.price {
    color: red;
}
.title {
    font-weight: 100px;
}
.picture {
    // width: 100%;
    text-align: center;
}
